<h1>Register</h1>

<%= form_for @user do |f| %>

    <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username %>
    </div>

    <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>

    <div class="actions">
        <%= submit_tag "Signup" %>
    </div>

<% end %>